@using PizzaTown.Models.Meals;
@using PizzaTown.Infrastructure
@model MealDetailedModel;

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                <h2 class="mb-3">@Model.Name</h2>
                <img src="@Model.ImageUrl" alt="" class="img-fluid">
                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        <a class="tag-cloud-link" style="pointer-events: none;">@Model.CategoryName</a>
                    </div>
                </div>
                <p>@Model.Description</p>
            </div>
        </div>
        @if (this.User.GetId() == Model.AuthorId)
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
            <a style="color: white !important;" id="deleteMealBtn" class="btn btn-danger" data-id="@Model!.Id" data-controller="Meals" data-action="Delete" data-body-message="@($"Are you sure you want to delete {Model.Name}?")" data-redirect-url="@("/Meals/Index")">Delete</a>
        }
    </div>
</section>