@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PaginatedList<PizzaTown.Services.Models.Meals.MealListingModel>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Our Menu</h2>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="row no-gutters d-flex">
            @foreach (var meal in Model)
            {
                <div class="col-lg-4 d-flex ftco-animate">
                    <div class="services-wrap d-flex">
                        <a asp-controller="Meals" asp-action="Details" asp-route-id="@meal.Id" class="img" style="background-image: url('@meal.ImageUrl');"></a>
                        <div class="text p-4">
                            <h3>@meal.Name</h3>
                            <p>@(meal.Description.Length > 150 ? $"{meal.Description[..150]}..." : meal.Description)</p>
                            <p class="price"><span>$@meal.Price</span> <a asp-controller="Meals" asp-action="Details" asp-route-id="@meal.Id" class="ml-2 btn btn-white btn-outline-white">Review</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    @if (Model.Any())
    {
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        @if (Model.PreviousPage)
                        {
                            <li>
                                <a asp-controller="Meals" asp-action="Index"
                                   asp-route-pageIndex="@(Model.PageIndex - 1)">&lt;</a>
                            </li>
                        }

                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            <li>
                                <a asp-controller="Meals" asp-action="Index"
                           asp-route-pageIndex="@i">@i</a>
                            </li>
                        }

                        @if (Model.NextPage)
                        {
                            <li>
                                <a asp-controller="Meals" asp-action="Index"
                           asp-route-pageIndex="@(Model.PageIndex + 1)">&gt;</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

    }

</section>