@using PizzaTown.Data.Models;

@model IEnumerable<Meal>

@{
    var queryString = Context.Request.QueryString;
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Our Menu</h2>
            </div>
            <div class="col-md-12 nav-link-wrap mb-5">
                <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link @(queryString == QueryString.Empty ? "active" : "")" id="v-pills-0-tab" asp-controller="Meals" asp-action="Index" role="tab" aria-controls="v-pills-0" aria-selected="true">All</a>
                    <a class="nav-link @(queryString.ToString().Contains("pizza") ? "active" : "")" id="v-pills-1-tab" asp-controller="Meals" asp-action="Index" asp-route-category="pizza" role="tab" aria-controls="v-pills-1" aria-selected="false">Pizza</a>
                    <a class="nav-link @(queryString.ToString().Contains("drinks") ? "active" : "")" id="v-pills-2-tab" asp-controller="Meals" asp-action="Index" asp-route-category="drinks" role="tab" aria-controls="v-pills-2" aria-selected="false">Drinks</a>
                    <a class="nav-link @(queryString.ToString().Contains("burger") ? "active" : "")" id="v-pills-3-tab" asp-controller="Meals" asp-action="Index" asp-route-category="burger" role="tab" aria-controls="v-pills-3" aria-selected="false">Burgers</a>
                    <a class="nav-link @(queryString.ToString().Contains("pasta") ? "active" : "")" id="v-pills-4-tab" asp-controller="Meals" asp-action="Index" asp-route-category="pasta" role="tab" aria-controls="v-pills-4" aria-selected="false">Pasta</a>
                    <a class="nav-link @(queryString.ToString().Contains("desserts") ? "active" : "")" id="v-pills-5-tab" asp-controller="Meals" asp-action="Index" asp-route-category="desserts" role="tab" aria-controls="v-pills-4" aria-selected="false">Desserts</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="row no-gutters d-flex">
            @foreach (var meal in Model)
            {
                <div class="col-lg-4 d-flex ftco-animate">
                    <div class="services-wrap d-flex">
                        <a asp-controller="Meals" asp-action="Details" asp-route-id="@meal.Id" class="img" style="background-image: url('@meal.ImageUrl');"></a>
                        <div class="text p-4">
                            <h3>@meal.Name</h3>
                            <p>@(meal.Description.Length > 150 ? $"{meal.Description.Substring(0, 150)}..." : meal.Description)</p>
                            <p class="price"><span>$@meal.Price</span> <a asp-controller="Meals" asp-action="Details" asp-route-id="@meal.Id" class="ml-2 btn btn-white btn-outline-white">Order</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>